body{
    font-family: Georgia,serif;
    background-color: aqua;
    margin: 20px;
}
.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 80%;
    margin: 20px;
    padding: 40px;
}
.card{
    background-color: white;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #007bff;
}
.circle{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70%;
    height: 50%;
    line-height: 70px;
    margin-top: 20px;
    margin: 10 auto 15px;
    align-items: center;
    align-content: center;
    align-self: center;
}
h3{
    margin-bottom: 5px;
}
p{
    margin: 5px 0;
    font-size: 14px;
}