body{
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    text-align: center;
    margin: 20px;
}
h1{
    color: black;
    margin-bottom: 30px;
}
.productbox{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 8px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 0px;
}
.product-box h2{
    color: black;
    font-size: 300px;
    margin-top: 10px;
}
.price{
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.description{
    color: dimgray;
    font-size: 14px;
    margin: 10px;

}
button:hover{
    background-color: darkblue;
    cursor: pointer;
}