.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(198, 198, 198);
}
.card{
    background-color: white;
    border: 1px solid #dddd;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    height: 530px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #007bff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
button {
    display: inline-block;
    align-self: center;
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.price{
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
body{
    background-color: rgb(198, 198, 198);
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    padding: 20px;
    color: #333;
}
.product-gird{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card p{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}